mixin team()
  +b.DIV.team
    +e.SECTION.container
        +b.DIV.titles
            +e.H2 Something Nothing
            +e.P Enean vulput



    +e.DIV.wrap-container
      +b.DIV.item
        +b.DIV.photo
        +e.A.readMore(href="#") READ HIS BIO
        +e.h3 Salazar Slytherin
        +e.p CEO
        +b.DIV.social
          +e.A(href="#")
            i(class="fa fa-twitter")
          +e.A(href="#")
            i(class="fa fa-linkedin")
          +e.A(href="#")
            i(class="fa fa-vimeo")
          +e.A(href="#")
            i(class="fa fa-dribbble")
          +e.A(href="#")
            i(class="fa fa-envelope-o")
      +b.DIV.item
          +b.DIV.photo2
          +e.A.readMore(href="#") READ HIS BIO
          +e.h3 GodricT Gryffindor
          +e.p Lead Developer
          +b.DIV.social
              +e.A(href="#")
                  i(class="fa fa-twitter")
              +e.A(href="#")
                  i(class="fa fa-linkedin")
              +e.A(href="#")
                  i(class="fa fa-vimeo")
              +e.A(href="#")
                  i(class="fa fa-dribbble")
              +e.A(href="#")
                  i(class="fa fa-envelope-o")
      +b.DIV.item
            +b.DIV.photo3
            +e.A.readMore(href="#") READ HIS BIO
            +e.h3 Salazar Slytherin
            +e.p CEO
            +b.DIV.social
                +e.A(href="#")
                    i(class="fa fa-twitter")
                +e.A(href="#")
                    i(class="fa fa-linkedin")
                +e.A(href="#")
                    i(class="fa fa-vimeo")
                +e.A(href="#")
                    i(class="fa fa-dribbble")
                +e.A(href="#")
                    i(class="fa fa-envelope-o")
      +b.DIV.item
            +b.DIV.photo4
            +e.A.readMore(href="#") READ HIS BIO
            +e.h3 Salazar Slytherin
            +e.p CEO
            +b.DIV.social
                +e.A(href="#")
                    i(class="fa fa-twitter")
                +e.A(href="#")
                    i(class="fa fa-linkedin")
                +e.A(href="#")
                    i(class="fa fa-vimeo")
                +e.A(href="#")
                    i(class="fa fa-dribbble")
                +e.A(href="#")
                    i(class="fa fa-envelope-o")
    +e.A.button(href="#") MEET OUR FULL TEAM













