mixin testimonial()
    +b.DIV.testimonial
        +e.SECTION.title
            +e.H2.title-main HAPPY CLIENTS
            +e.P.subtitle Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
        +slider


