@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************COLORS & FONTS***********************/
.header__container-top, .header__container, .service__title, .service__container, .work__title, .testimonial__title, .carousel-container, .team__container, .team__wrap-container, .clients__container, .pricing__container, .pricing__container .inner, .footer__container {
  margin: 0 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 320px) {
    .header__container-top, .header__container, .service__title, .service__container, .work__title, .testimonial__title, .carousel-container, .team__container, .team__wrap-container, .clients__container, .pricing__container, .pricing__container .inner, .footer__container {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 767px) {
    .header__container-top, .header__container, .service__title, .service__container, .work__title, .testimonial__title, .carousel-container, .team__container, .team__wrap-container, .clients__container, .pricing__container, .pricing__container .inner, .footer__container {
      width: 750px; } }
  @media (min-width: 1024px) {
    .header__container-top, .header__container, .service__title, .service__container, .work__title, .testimonial__title, .carousel-container, .team__container, .team__wrap-container, .clients__container, .pricing__container, .pricing__container .inner, .footer__container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .header__container-top, .header__container, .service__title, .service__container, .work__title, .testimonial__title, .carousel-container, .team__container, .team__wrap-container, .clients__container, .pricing__container, .pricing__container .inner, .footer__container {
      width: 1170px; } }

/***********************COLORS & FONTS***********************/
html {
  height: 100%; }

.page {
  height: 100%;
  font-weight: 400;
  font-size: 18px; }
  .page__wrap {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif; }

.header {
  background: linear-gradient(rgba(72, 85, 99, 0.7) 0%, rgba(41, 50, 60, 0.7) 100%), url(../img/bg.jpg) center center no-repeat/cover;
  padding: 15px 0;
    padding-bottom: 100px; }
  .header__container-top {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 220px; }
  .header__container {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__container h1 {
      color: #e8e8e8;
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px; }
    .header__container p {
      color: #e8e8e8;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 25px;
      max-width: 625px;
      text-align: center;
      margin-bottom: 35px; }
  .header .btn {
    color: #e8e8e8;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 25px;
    margin-bottom: 145px;
    transition: 0.3s; }
    .header .btn:hover {
      box-shadow: 3px 3px 15px #e8e8e8; }
  .header .downBtn {
    color: #e8e8e8;
    height: 50px;
    width: 50px;
    border: 1px solid;
      border-radius: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    transition: 0.3s;
    cursor: pointer; }
    .header .downBtn:hover {
      box-shadow: 3px 3px 15px #e8e8e8; }

.menu {
  width: 200px;
  height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  z-index: 100; }

.menu__label {
  display: block;
  background: none;
  border: none;
  width: 100%;
  height: 40px;
  padding: 0 1.25em;
  font-size: 1.3em;
  color: #f2f2f2;
  position: relative;
  outline: none;
  text-align: right; }

.menu__inner li a span,
.menu__label span {
  font-size: 0.68em;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 600; }

.menu .fa {
  vertical-align: top;
  line-height: 1.25;
  margin-left: 0.65em;
  font-size: 1.15em; }

.menu__inner {
  list-style: none;
  padding: 0 1.25em;
  font-size: 1.3em;
  margin: 0;
  position: absolute;
  overflow: hidden;
  height: 0;
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1); }

.menu.menu--open .menu__inner {
  height: 400px; }

.menu__inner li a {
  display: block;
  padding: 0.53em 0;
  line-height: 1.2;
  opacity: 0;
  color: #ffffff;
  pointer-events: none;
  outline: none;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }

.menu__inner li a:hover {
  color: #4463fd; }

.menu--open .menu__inner li a {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.menu--open .menu__inner li:nth-child(2) a {
  transition-delay: 0.04s; }

.menu--open .menu__inner li:nth-child(3) a {
  transition-delay: 0.08s; }

.menu--open .menu__inner li:nth-child(4) a {
  transition-delay: 0.12s; }

.menu--open .menu__inner li:nth-child(5) a {
  transition-delay: 0.16s; }

.menu--open .menu__inner li:nth-child(6) a {
  transition-delay: 0.2s; }

.morph-shape,
.morph-shape svg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.morph-shape {
  height: 40px;
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1); }

.morph-shape svg {
  height: 100%; }

.menu.menu--open .morph-shape {
  height: 350px; }

.morph-shape svg path {
  fill: rgba(40, 50, 60, 0.4); }

.service {
  background-color: #f5f5f5;
  padding: 100px 0; }
  .service__title {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .service__title-main {
    font-size: 26px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif; }
  .service__subtitle {
    opacity: 0.8;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
    .service__subtitle::after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background-color: #8b8b8b;
      opacity: 0.8;
      margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 60px; }
  .service__container {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .service__container .item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 260px;
      text-align: center; }
      .service__container .item img {
        padding-bottom: 40px; }
      .service__container .item__title {
        padding-bottom: 25px;
        font-size: 16px;
        font-weight: 700;
        font-family: Montserrat, sans-serif; }
      .service__container .item__subtitle {
        opacity: 0.8;
        color: #29323c;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 15px;
        font-family: "Open Sans", sans-serif; }

@media (max-width: 600px) {
  .work .gallery {
    height: 320px;
    overflow-y: auto; } }

.work {
  padding-top: 100px; }
  .work__title {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .work__title-main {
    font-size: 26px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif; }
  .work__subtitle {
    opacity: 0.8;
    font-size: 14px;
    text-align: center;
    font-family: "Open Sans", sans-serif; }
    .work__subtitle::after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background-color: #8b8b8b;
      opacity: 0.8;
      margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 60px; }
  .work .gallery {
    max-width: 1900px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .work .gallery a {
      cursor: pointer;
      background-color: black;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .work .gallery a .item {
        position: absolute; }
      .work .gallery a h2 {
        text-align: center;
        color: #f2f2f2;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        opacity: 0;
        font-family: Montserrat, sans-serif; }
      .work .gallery a p {
        text-align: center;
        color: #f2f2f2;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        opacity: 0;
        font-family: Montserrat, sans-serif; }
      .work .gallery a:hover img {
        opacity: 0.6;
        transition: 0.4s; }
      .work .gallery a:hover h2, .work .gallery a:hover p {
        opacity: 1; }

.testimonial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0; }
  .testimonial__title {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonial__title-main {
    font-size: 26px;
    font-weight: 800;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif; }
  .testimonial__subtitle {
    opacity: 0.8;
    font-size: 14px;
    text-align: center;
    font-family: "Open Sans", sans-serif; }
    .testimonial__subtitle::after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background-color: #8b8b8b;
      opacity: 0.8;
      margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 60px; }

.carousel-container {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .carousel-container #owl-carousel {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .carousel-container #owl-carousel .item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .carousel-container #owl-carousel .item img {
        display: block;
        width: 10%;
        height: auto; }
      .carousel-container #owl-carousel .item p {
        margin-bottom: 60px;
        color: #2b3746;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; }

.team {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  background: linear-gradient(rgba(72, 85, 99, 0.7) 0%, rgba(41, 50, 60, 0.7) 100%), url(../img/team_bg.jpg) center center no-repeat/cover; }
  .team__container {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .team__container h2 {
      color: #e8e8e8;
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 30px; }
    .team__container p {
      color: #e8e8e8;
      font-size: 17px;
      font-weight: 300;
      line-height: 25px;
      max-width: 625px;
      text-align: center;
      margin-bottom: 35px;
      font-family: "Open Sans", sans-serif; }
  .team__wrap-container {
    margin-bottom: 90px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .team__wrap-container .item {
      background-color: rgba(242, 242, 242, 0.7);
      width: 270px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 5px;
      cursor: pointer;
      position: relative; }
      .team__wrap-container .item .photo {
        background: url("../img/team/salazar.jpg") no-repeat;
        height: 270px;
        width: 270px;
        transition: 0.3s;
        margin-bottom: 30px; }
      .team__wrap-container .item .photo2 {
        background: url("../img/team/gryffindor.jpg");
        height: 270px;
        width: 270px;
        transition: 0.3s;
        margin-bottom: 30px; }
      .team__wrap-container .item .photo3 {
        background: url("../img/team/ravenclaw.jpg");
        height: 270px;
        width: 270px;
        transition: 0.3s;
        margin-bottom: 30px; }
      .team__wrap-container .item .photo4 {
        background: url("../img/team/hufflepuff.jpg");
        height: 270px;
        width: 270px;
        transition: 0.3s;
        margin-bottom: 30px; }
      .team__wrap-container .item:hover .item__readMore {
        opacity: 0.9; }
      .team__wrap-container .item:hover .photo, .team__wrap-container .item:hover .photo2, .team__wrap-container .item:hover .photo3, .team__wrap-container .item:hover .photo4 {
        background-color: #4f4f4f;
        opacity: 0.6; }
      .team__wrap-container .item__readMore {
        color: #e8e8e8;
        font-size: 13px;
        font-weight: 700;
        opacity: 0;
        position: absolute;
        top: 120px;
        left: 88px; }
        .team__wrap-container .item__readMore::after {
          content: '';
          display: block;
          width: 40px;
          height: 2px;
          margin: 0 auto;
          background-color: #e8e8e8;
          margin-top: 15px; }
      .team__wrap-container .item__h3 {
        color: #29323c;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        font-family: Montserrat, sans-serif; }
      .team__wrap-container .item__p {
        opacity: 0.8;
        color: #29323c;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 30px;
        font-family: Montserrat, sans-serif; }
      .team__wrap-container .item .social a {
        cursor: alias;
        color: #d2d2d2;
        background-color: black;
        width: 24px;
        height: 24px;
        border: transparent;
        margin: 1px;
          margin-bottom: 30px; }
        .team__wrap-container .item .social a:hover .fa-twitter {
          color: #00acee; }
        .team__wrap-container .item .social a:hover .fa-linkedin {
          color: #0e76a8; }
        .team__wrap-container .item .social a:hover .fa-vimeo {
          color: #00acee; }
        .team__wrap-container .item .social a:hover .fa-dribbble {
          color: #d52b2b; }
        .team__wrap-container .item .social a:hover .fa-envelope-o {
          color: #ffffff; }
  .team__button {
    width: 200px;
    color: #e8e8e8;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    text-align: center; }
    .team__button:hover {
      box-shadow: 3px 3px 15px #e8e8e8; }

.social a {
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  float: left;
  background: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  transition: 0.5s;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.github a:hover {
  background: #191919;
  color: #fff; }

.youtube a:hover {
  background: #c4302b;
  color: #fff;
  border-color: #c4302b; }

.google-pluse a:hover {
  background: #DD4B39;
  color: #fff;
  border-color: #DD4B39; }

.twitter a:hover {
  background: #00acee;
  color: #fff;
  border-color: #00acee; }

.instagram a:hover {
  background: #3f729b;
  color: #fff; }

.facebook a:hover {
  background: #3b5998;
  color: #fff;
  border-color: #3b5998; }

.skype a:hover {
  background: #00aff0;
  color: #fff; }

.vk a:hover {
  background: #5d84ae;
  color: #fff; }

.odnoklassniki a:hover {
  background: #f93;
  color: #fff; }

.pinterest a:hover {
  background: #c8232c;
  color: #fff;
  border-color: #c8232c; }

.linkedin a:hover {
  background: #0e76a8;
  color: #fff; }

.telegram a:hover {
  background: #249bd7;
  color: #fff; }

.tumblr a:hover {
  background: #34526f;
  color: #fff; }

.windows a:hover {
  background: #125acd;
  color: #fff; }

.whatsapp a:hover {
  background: #50b154;
  color: #fff; }

.weibo a:hover {
  background: #d52b2b;
  color: #fff; }

.dropbox a:hover {
  background: #1087dd;
  color: #fff; }

@media (max-width: 600px) {
  .clients {
    background-color: #f5f5f5;
    padding: 40px 0; }
    .clients__container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .clients__item {
      margin-bottom: 25px; } }

.clients {
  background-color: #f5f5f5;
  padding: 40px 0; }
  .clients a {
    cursor: pointer; }
    .clients a:hover img {
      transition: 0.5s;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .clients__container {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

@media (max-width: 600px) {
  .inner {
    max-height: 400px;
    overflow-y: auto; } }

.pricing {
  padding: 100px 0; }
  .pricing__container {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .pricing__container .inner {
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .pricing__container .title__h2 {
      color: #29323c;
      font-family: "Open Sans", sans-serif;
      font-size: 26px;
      font-weight: 800;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: -0.65px;
      text-align: center;
      padding-bottom: 15px; }
    .pricing__container .title__p {
      opacity: 0.8;
      color: #29323c;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-align: center; }
      .pricing__container .title__p::after {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: #8b8b8b;
        opacity: 0.8;
        margin: 0 auto;
          margin-top: 15px;
          margin-bottom: 60px; }
    .pricing__container .tick {
      border: 1px solid #dddddd;
      max-width: 380px;
      min-width: 320px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 35px 0;
      cursor: pointer;
      z-index: 2;
      transition: 0.4s;
      margin: 15px 0; }
      .pricing__container .tick:hover {
        border-top: 4px solid #000000;
        -webkit-transform: scaleY(1.1);
            -ms-transform: scaleY(1.1);
                transform: scaleY(1.1); }
      .pricing__container .tick__titles {
        border-bottom: 1px solid #dddddd;
        width: 100%; }
        .pricing__container .tick__titles h3 {
          color: #485563;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 36px;
          text-align: center;
          padding-bottom: 25px; }
        .pricing__container .tick__titles h2 {
          color: #485563;
          font-family: Montserrat, sans-serif;
          font-size: 45px;
          font-weight: 400;
          line-height: 9px;
          text-align: center;
          padding-bottom: 25px; }
        .pricing__container .tick__titles p {
          opacity: 0.8;
          color: #29323c;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          line-height: 9px;
          text-transform: uppercase;
          text-align: center;
          padding-bottom: 30px; }
      .pricing__container .tick__wrap {
        text-align: center; }
        .pricing__container .tick__wrap p {
          max-width: 250px;
          text-align: center;
          margin: 85px 0;
          color: #29323c;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px; }
        .pricing__container .tick__wrap a {
          text-align: center;
          background-color: #485563;
          color: #e8e8e8;
          font-family: Montserrat, sans-serif;
          font-size: 13px;
          font-weight: 700;
          line-height: 36px;
          text-transform: uppercase;
          letter-spacing: 0.33px;
          padding: 10px 30px;
          border-radius: 50px;
          transition: 0.4s; }
          .pricing__container .tick__wrap a:hover {
            box-shadow: 3px 3px 10px #485563; }

@media (max-width: 600px) {
  .contacts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts form label {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 15px; }
    .contacts .btn {
      margin-top: 20px; } }

.contacts {
  height: 650px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contacts #map {
    width: 50%;
    height: 650px;
    max-width: 800px;
    min-width: 320px; }
  .contacts__form {
    background: linear-gradient(rgba(72, 85, 99, 0.7) 0%, rgba(41, 50, 60, 0.7) 100%), url("../img/contacts_bg.jpg") center center no-repeat/cover;
    width: 50%;
    max-width: 800px;
    min-width: 320px;
    height: 650px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts__form form {
      height: 100%;
      padding: 115px 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .contacts__form form label {
        color: #f6f6f6;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.35px; }
      .contacts__form form input {
        height: 45px;
        min-width: 300px;
        background: transparent;
        border: 1px solid #FFFFFF; }
      .contacts__form form textarea {
        min-width: 295px;
        background: transparent;
        border: 1px solid #FFFFFF;
        height: 145px; }
      .contacts__form form .btn {
        background: transparent;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        padding: 15px 40px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer; }
        .contacts__form form .btn:hover {
          box-shadow: 1px 1px 10px #FFFFFF; }

@media (max-width: 600px) {
  .footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .footer__container {
      position: absolute;
      top: 620px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__container .logo {
        margin-bottom: 10px; }
        .footer__container .logo img {
          margin: 10px 0; } }

.footer__container {
  padding: 45px 0;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .footer__container .logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__container .logo img {
      margin-right: 15px; }
  .footer__container .social {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__container .social p {
      margin-right: 5px; }
    .footer__container .social a {
      color: #d2d2d2;
      background-color: #29323c;
      opacity: 0.8;
      width: 25px;
      height: 25px;
      border: transparent;
      margin: 1px; }
      .footer__container .social a:hover .fa-twitter {
        color: #00acee; }
      .footer__container .social a:hover .fa-linkedin {
        color: #0e76a8; }
      .footer__container .social a:hover .fa-vimeo {
        color: #00acee; }
      .footer__container .social a:hover .fa-dribbble {
        color: #d52b2b; }
