mixin work()
    +b.DIV.work
      +e.SECTION.title
        +e.H2.title-main WORKS
        +e.P.subtitle Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
      +b.DIV.gallery
        +e.A(href="#")
          +e.IMG(src="img/gallery/boommy-shop.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/7.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/dribbble_shottie.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/2.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/ss-drib.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/cool.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/food.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/shot.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/4.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/5.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/landing-page.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/newhome-shot.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/coil-wip.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/6.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development
        +e.A(href="#")
          +e.img(src="img/gallery/1.jpg" alt="")
          +b.DIV.item
            h2 BOOMING SHOP
            p Website Development







