+for-size(phone-only)
  .work
    .gallery
      height: 320px
      overflow-y: auto

.work
  padding-top: 100px
  &__title
    +container()
    flex-direction: column
    align-items: center
  &__title-main
    font-size: 26px
    font-weight: 800
    line-height: 22px
    text-transform: uppercase
    padding-bottom: 15px
    font-family: $main-font
  &__subtitle
    opacity: 0.8
    font-size: 14px
    text-align: center
    font-family: $main-font
    &::after
      content: ''
      display: block
      width: 40px
      height: 2px
      background-color: #8b8b8b
      opacity: 0.8
      margin: 0 auto
        top: 15px
        bottom: 60px
  .gallery
    max-width: 1900px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    position: relative
    a
      cursor: pointer
      background-color: black
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      .item
        position: absolute


      h2
        text-align: center
        color: #f2f2f2
        font-size: 15px
        font-weight: 700
        line-height: 20px
        opacity: 0
        font-family: $title
      p
        text-align: center
        color: #f2f2f2
        font-size: 13px
        font-weight: 400
        line-height: 20px
        opacity: 0
        font-family: $title
      &:hover
        img
          opacity: 0.6
          transition: 0.4s
        h2, p
          opacity: 1

