mixin header()
  +b.HEADER.header
    +e.DIV.container-top
      +b.A.logo
        +e.img(src="img/logo/ZET.svg" alt='logo')
      +menu()
    +e.DIV.container
      +b.DIV.titles
        +e.H1 Something Nothing
        +e.P Enean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim iam ultricies nisi eleifend tellus.
      +b.A.btn(href="#") LET’S TALK
      +b.A.downBtn <i class="fa fa-angle-down" aria-hidden="true"></i>


