mixin service()

    +b.DIV.service
      +e.SECTION.title
        +e.H2.title-main SERVICES
        +e.P.subtitle Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
      +e.DIV.container
          +b.DIV.item
            +e.IMG(src="img/responsive.svg" alt='responsive')
            +e.H3.title FULLY RESPONSIVE
            +e.P.subtitle Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          +b.DIV.item
                +e.IMG(src="img/costumize.svg" alt='responsive')
                +e.H3.title EASY CUSTOMIZE
                +e.P.subtitle Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae.
          +b.DIV.item
                +e.IMG(src="img/seo.svg" alt='responsive')
                +e.H3.title SEO READY
                +e.P.subtitle Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi
          +b.DIV.item
                +e.IMG(src="img/love.svg" alt='responsive')
                +e.H3.title MADE WITH LOVE
                +e.P.subtitle Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi





