mixin clients()
    +b.DIV.clients
        +e.DIV.container
            +e.A.item
                +e.IMG(src="img/brands/1280px-Coca-Cola_logo.svg.svg")
            +e.A.item
                +e.IMG(src="img/brands/Dropbox_logo_(September_2013).svg.svg")
            +e.A.item
                +e.IMG(src="img/brands/293px-Intel-logo.svg.svg")
            +e.A.item
                +e.IMG(src="img/brands/Zendesk_logo_RGB.svg")
            +e.A.item
                +e.IMG(src="img/brands/1280px-Nokia_wordmark.svg.svg")