mixin pricing()
    +b.DIV.pricing
        +e.DIV.container
            +b.DIV.title
                +e.h2 PRICING TABLE
                +e.p Awan mripat gendhis angsal Jawa Ipsum nangis rumput wilujeng
            +b.DIV.inner
                +b.DIV.tick
                    +e.DIV.titles
                        +e.H3 Standard Pack
                        +e.H2 $50
                        +e.P PER MONTH
                    +e.DIV.wrap
                        +e.P exercitation ullaborum sed do
                            |eiusmod tempor incididunt ut  quis
                            |nostrud exercitation ullamco laboris
                        +e.A(href="#") SIGN UP
                +b.DIV.tick
                    +e.DIV.titles
                        +e.H3 Standard Pack
                        +e.H2 $50
                        +e.P PER MONTH
                    +e.DIV.wrap
                        +e.P exercitation ullaborum sed do
                            | eiusmod tempor incididunt ut  quis
                            | nostrud exercitation ullamco laboris
                        +e.A(href="#") SIGN UP
                +b.DIV.tick
                    +e.DIV.titles
                        +e.H3 Standard Pack
                        +e.H2 $50
                        +e.P PER MONTH
                    +e.DIV.wrap
                        +e.P exercitation ullaborum sed do
                            | eiusmod tempor incididunt ut  quis
                            | nostrud exercitation ullamco laboris
                        +e.A(href="#") SIGN UP