mixin footer()
    +b.DIV.footer
        +e.DIV.container
            +b.logo
                img(src="img/logo/ZET.svg" alt="logo")
                |© Copyright 2015. Allright Reserved
            +b.social
                +b.P Stay In Touch
                +e.A(href="#")
                    i(class="fa fa-twitter")
                +e.A(href="#")
                    i(class="fa fa-linkedin")
                +e.A(href="#")
                    i(class="fa fa-vimeo")
                +e.A(href="#")
                    i(class="fa fa-dribbble")

