mixin slider()
    +b.DIV.carousel-container
        +b.DIV.owl-carousel(id="owl-carousel")
            +b.DIV.item
                +e.P Bebed pupu warni sangsam ngundang ajang, gujeng sirah lair menda bebucal benang; lek-lekan?
                    |Madeg pendhet lenggah, "nanem dipetak dhuwung, dipun awis bokong ayam. gendhis angsal
                    |Jawa Ipsum nangis rumput wilujeng unyeng-unyeng; pados gujeng benter andhap lisa Leres,
                    |lisah, ulem-ulem nedhi gesang manah cangkem: nem aken benter bebucal baita dangu
                +e.IMG(src="img/adam.jpg" alt="adam")
            +b.DIV.item
                +e.IMG(src="img/adam.jpg" alt="adam")
            +b.DIV.item
                +e.IMG(src="img/adam.jpg" alt="adam")
